<body>
<div class="container" >
    <a class="btn btn-dark btn-xl js-scroll-trigger" href="/home/index">홈으로</a>
    <a class="btn btn-dark btn-xl js-scroll-trigger" href="/home/edit/<%=@post.id%>">수정</a>
    <a class="btn btn-dark btn-xl js-scroll-trigger" href="/home/destroy/<%=@post.id%>">삭제</a>
<table class='table'>
  <tr>
    <th>제목</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>작성자</th>
    <td><%= @post.name %></td>
  </tr>
    <tr>
    <th>내용</th>
    <td><%= @post.content %></td>
  </tr>
  <tr>
    <th>작성시간</th>
    <td><%= @post.created_at %></td>
  </tr>
</table>
</div>

 

   
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.js"></script>

    
    <script src="assets/javascripts/jquery.easing.js"></script>

   
    <script src="assets/javascripts/stylish-portfolio.js"></script>
</body>